.checkoutPaymentChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #0d0d0d;
  width: 1440px;
  height: 61.71px;
}
.div {
  position: absolute;
  top: 990.51px;
  left: 747.77px;
  letter-spacing: -0.41px;
  line-height: 28.8px;
}
.div1 {
  position: absolute;
  top: 989.49px;
  left: 1051.2px;
  letter-spacing: -0.41px;
  line-height: 28.8px;
}
.rectangle11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: rgba(255, 255, 255, 0);
}
.logo {
  position: relative;
  letter-spacing: -0.62px;
}
.searchIcon2 {
  position: relative;
  width: 16.3px;
  height: 16.46px;
  object-fit: cover;
}
.about {
  position: absolute;
  top: 0%;
  left: 34.37%;
  letter-spacing: -0.62px;
}
.searchParent {
  position: relative;
  width: 83.8px;
  height: 21px;
  font-size: 17.49px;
  color: #979797;
}
.logoParent {
  position: absolute;
  top: 18.51px;
  left: 149.14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32.91px;
}
.navbarChild {
  position: absolute;
  height: 1.67%;
  width: 100.07%;
  top: 99.17%;
  right: -0.04%;
  bottom: -0.83%;
  left: -0.04%;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  opacity: 0.5;
}
.div2 {
  position: absolute;
  top: 0%;
  left: 68.82%;
  letter-spacing: -0.62px;
}
.vectorIcon2 {
  position: absolute;
  height: 100%;
  width: 48.2%;
  top: 0%;
  right: 51.8%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.parent {
  position: relative;
  width: 38.49px;
  height: 21.61px;
}
.navbarInner {
  position: absolute;
  top: 20.57px;
  right: 145.28px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 17.49px;
}
.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 61.71px;
  font-size: 20.57px;
  color: #fff;
  font-family: Inter;
}
.yourPaymentDetails2 {
  position: absolute;
  height: 3.67%;
  width: 14.5%;
  top: 31.44%;
  left: 10.14%;
  font-size: 20.57px;
  letter-spacing: -0.41px;
  line-height: 28.8px;
  color: #252525;
  display: inline-block;
}
.yourPaymentDetails3 {
  position: absolute;
  height: 3.67%;
  width: 14.5%;
  top: 22.89%;
  left: 56.71%;
  font-size: 20.57px;
  letter-spacing: -0.41px;
  line-height: 28.8px;
  color: #252525;
  display: inline-block;
}
.elementsCheckboxOn1 {
  position: absolute;
  height: 1.64%;
  width: 1.06%;
  top: 69.28%;
  right: 88.87%;
  bottom: 29.07%;
  left: 10.07%;
}
.title {
  position: absolute;
  top: 12.33%;
  left: 10.07%;
  font-size: 37.03px;
  letter-spacing: -1.54px;
  line-height: 45.26px;
  font-weight: 600;
}
.checkoutPaymentItem {
  position: absolute;
  top: 422.23px;
  left: 816.17px;
  border-top: 1px solid #909090;
  box-sizing: border-box;
  width: 413.49px;
  height: 1.03px;
}
.productImage2 {
  position: relative;
  background-color: #c4c4c4;
  width: 132.69px;
  height: 136.8px;
}
.sizeL {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 20px;
  display: inline-block;
  width: 367.2px;
}
.price {
  position: relative;
  letter-spacing: -0.55px;
  line-height: 30px;
  font-weight: 600;
}
.titleParent {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.171428680419922px 5.142857551574707px;
  gap: 7.2px;
}
.removeButton {
  position: relative;
  font-size: 14.4px;
  text-decoration: underline;
  letter-spacing: -0.41px;
  line-height: 20.57px;
  display: flex;
  align-items: flex-end;
  width: 51.43px;
  height: 136.8px;
  flex-shrink: 0;
}
.horizontalProductCard2 {
  position: absolute;
  top: 267.43px;
  left: 816.69px;
  width: 412.46px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.2px;
  font-size: 22px;
}
.horizontalProductCard3 {
  position: absolute;
  top: 441.26px;
  left: 816.69px;
  width: 412.46px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.2px;
  font-size: 22px;
}
.base1 {
  position: absolute;
  height: 102%;
  width: 100.25%;
  top: -1%;
  right: -0.13%;
  bottom: -1%;
  left: -0.13%;
  background-color: #3e7cb1;
  border: 1px solid #3e7cb1;
  box-sizing: border-box;
}
.buttonText1 {
  position: absolute;
  top: 28%;
  left: 38.2%;
  letter-spacing: -0.4px;
  line-height: 22px;
  font-weight: 600;
}
.button {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.default {
  position: absolute;
  top: 563.66px;
  left: 145.03px;
  width: 408.34px;
  height: 51.43px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.saveCardData1 {
  position: absolute;
  top: 512.74px;
  left: 147.09px;
  font-size: 14.4px;
  letter-spacing: -0.31px;
}
.switchChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 51.43px;
  background-color: #3e7cb1;
}
.switchItem {
  position: absolute;
  height: 75%;
  width: 46.15%;
  top: 12.5%;
  right: 8.65%;
  bottom: 12.5%;
  left: 45.19%;
  border-radius: 50%;
  background-color: #fff;
}
.switch {
  position: absolute;
  top: 509.14px;
  right: 883.54px;
  width: 40.11px;
  height: 24.69px;
}
.rectangle12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border: 0.5px solid #000;
  box-sizing: border-box;
}
.inputName {
  position: absolute;
  top: 11.83px;
  left: 16.46px;
  letter-spacing: -0.31px;
}
.input {
  position: relative;
  width: 409.37px;
  height: 41.14px;
}
.input2 {
  position: absolute;
  top: 0px;
  left: 279.77px;
  width: 129.6px;
  height: 41.14px;
}
.iconsChevronDown2 {
  position: absolute;
  top: calc(50% - 11.91px);
  right: 8.71px;
  width: 24.69px;
  height: 24.69px;
  object-fit: cover;
}
.dropdownInput {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 125.49px;
  height: 41.14px;
}
.dropdownInput1 {
  position: absolute;
  top: 0px;
  left: 141.94px;
  width: 125.49px;
  height: 41.14px;
}
.inputParent {
  position: absolute;
  top: 339.43px;
  left: 147.09px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.29px;
  font-size: 14.4px;
  color: #a9abbd;
}
.address {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 28.8px;
}
.simpleBreadcrumbsChild {
  position: relative;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 70.97px;
  height: 1.03px;
}
.simpleBreadcrumbs {
  position: absolute;
  top: calc(50% - 290.06px);
  left: calc(50% - 571.89px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14.4px;
}
.paypalChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  border: 1px solid #1d4d90;
  box-sizing: border-box;
  width: 157.84px;
  height: 39.46px;
}
.paypal {
  position: absolute;
  top: 229.37px;
  left: 147.09px;
  width: 157.84px;
  height: 39.46px;
}
.image4Icon {
  position: absolute;
  top: 241px;
  left: 181px;
  width: 89px;
  height: 15.69px;
  object-fit: cover;
}
.checkoutPayment1 {
  position: absolute;
  top: 27px;
  left: 0px;
  background-color: #eff2f6;
  width: 1440px;
  height: 925.71px;
  overflow: hidden;
}
.headerChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #3e7cb1;
  width: 1440.38px;
  height: 46.3px;
}
.logo1 {
  position: relative;
  font-size: 20.58px;
  letter-spacing: -0.62px;
  color: #054a91;
}
.searchIcon3 {
  position: relative;
  width: 16.31px;
  height: 16.46px;
  object-fit: cover;
}
.searchGroup {
  position: relative;
  width: 83.81px;
  height: 21px;
  color: #979797;
}
.logoGroup {
  position: absolute;
  top: 18.52px;
  left: 149.18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32.92px;
}
.navbarItem {
  position: absolute;
  height: 1.67%;
  width: 100.07%;
  top: 99.17%;
  right: -0.04%;
  bottom: -0.83%;
  left: -0.04%;
  border-top: 1px solid #000;
  box-sizing: border-box;
  opacity: 0.5;
}
.div3 {
  position: absolute;
  top: 0%;
  left: 70.66%;
  letter-spacing: -0.62px;
}
.vectorIcon3 {
  position: absolute;
  height: 100%;
  width: 49.49%;
  top: 0%;
  right: 50.51%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group {
  position: relative;
  width: 37.5px;
  height: 21.62px;
}
.groupParent {
  position: absolute;
  top: 20.58px;
  right: 145.71px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.63px;
}
.navbar1 {
  position: absolute;
  top: 45.27px;
  left: 0px;
  width: 1440.38px;
  height: 61.73px;
  font-size: 17.49px;
  color: #000;
  font-family: 'Roboto', sans-serif;
}
.headerItem {
  position: absolute;
  height: 0.96%;
  width: 100.07%;
  top: 42.79%;
  right: -0.04%;
  bottom: 56.25%;
  left: -0.04%;
  border-top: 1px solid #000;
  box-sizing: border-box;
  opacity: 0.5;
}
.ngn {
  position: absolute;
  top: 18.38px;
  left: 149.18px;
  letter-spacing: -0.62px;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.freeShippingOn {
  position: absolute;
  top: 18.38px;
  left: 437px;
  letter-spacing: -0.62px;
  font-weight: 500;
}
.contactUs {
  position: absolute;
  top: 18.38px;
  left: 1235.64px;
  letter-spacing: -0.62px;
  font-weight: 500;
}
.header {
  position: absolute;
  top: -5px;
  left: 0px;
  background-color: #eff2f6;
  width: 1440.38px;
  height: 107px;
  overflow: hidden;
  font-size: 16.46px;
  color: #fff;
}
.desktop41 {
  position: relative;
  background-color: #eff2f6;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 17.49px;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

