/* Remove red focus border and set focus border color to black */
input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
  }
  
  input[type="checkbox"]:focus-visible {
    border-color: transparent;
  }

  input[type="checkbox"] + .chakra-checkbox__control {
    border-width: 0.5px;
    border-color: #000000;
  }
  
  /* Set border color to black when checked */
  input[type="checkbox"]:checked + .chakra-checkbox__control {
    border-color: #000000;
    background-color: #3E7CB1; /* Update with your desired color */
  }
  
  /* Set checkmark color to white */
  input[type="checkbox"]:checked + .chakra-checkbox__control .chakra-checkbox__icon svg {
    color: #ffffff;
  }